/* Reset default margin and apply flexbox to center content */
body {
    margin: 30px;
    display: flex;
    justify-content: center; /* Center horizontally */
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    color: aliceblue;
}

#display {
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    text-align: left;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 20px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(39, 98%, 54%);
    color: hsl(0, 0%, 20%);
}

.operator-btn:hover {
    background-color: hsl(46, 96%, 52%);
    color: hsl(0, 0%, 20%);
}

.operator-btn:active {
    background-color: hsl(46, 96%, 65%);
    color: hsl(0, 0%, 20%);
}
